body {
    box-sizing: border-box;
    font-family: "roboto", sans-serif;
    margin: 0;
}

a {
    text-decoration: none;
}

p, h1 {
    margin: 0;
    padding: 0;
}

button {
    background-color: #3882f6;
    padding: 8px 32px;
    border: none;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: #F9FAF8;
    border-radius: 8px;

}

.blue-bgnd {
    background-color: #1f2937;
}

.reception {
    padding: 0 170px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-top: 18px;
    padding-bottom: 120px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 900;
}

.header-links {
    display: flex;
    list-style: none;
    gap: 24px;
    margin: 0;
    padding: 0;
}

.secondary-text, a {
    font-size: 18px;
    color: #E5E7EB;
}

.hero {
    display: flex;
    align-items: center;
    gap: 40px;
    padding-bottom: 130px;
}

.hero-text h1 {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: extra-bold;
}

.hero-text p {
    margin-top: 2px;
    margin-bottom: 14px;
}









